::ng-deep .pintura-editor {
  .filepond--item {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    width: 100px;
    height: 100px;
  }
}
