mat-sidenav-container {
  mat-sidenav {
    height: calc(100% - 64px);
    background: var(--mat-sys-surface);
    border-radius: 0;
    border: 0;
    height: 100%;
    overflow: hidden;

    app-toolbar {
      border-bottom: 1px solid var(--mat-sys-surface);
    }

    mat-action-list {
      button[mat-list-item] {
        border-radius: 8px;
        &.active {
          mat-icon,
          span {
            color: white;
          }
          background-color: var(--mat-sys-primary);
        }

        &:hover:not(.active) {
          background-color: var(--mat-sys-surface-container-low);
          color: var(--mat-sys-on-surface);
        }
      }
    }
  }
}
