mat-action-list {
  button[mat-list-item] {
    border-radius: 8px;
    &.active {
      mat-icon,
      span {
        color: white;
      }
      background-color: var(--mat-sys-primary);
    }

    &:hover:not(.active) {
      background-color: var(--mat-sys-surface-container-low);
      color: var(--mat-sys-on-surface);
    }
  }
}
