<mat-action-list>
  <div class="flex flex-col gap-2">
    @for(section of sections(); track section) {
    <div class="flex justify-center items-center">
      <button
        mat-list-item
        disableRipple
        [routerLink]="section?.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [disabled]="section?.isDisabled"
      >
        <div class="flex items-center gap-2">
          <mat-icon>{{ section?.icon }}</mat-icon>
          <span> {{ section.title | translate }}</span>
        </div>
      </button>
    </div>
    }
  </div>
</mat-action-list>
