<div
  class="login-form-container p-8 w-full min-w-[320px] bg-white shadow-2xl rounded-lg"
>
  <h3>{{ "AUTH.LOGIN.TITLE" | translate }}</h3>
  <p class="text-gray-600 mb-4">
    {{ "AUTH.LOGIN.SUBTITLE" | translate }}
  </p>
  <form [formGroup]="form.group" (ngSubmit)="doLogin()">
    <div class="flex flex-col mt-8 gap-4">
      <mat-form-field>
        <mat-label>{{
          "AUTH.LOGIN.FIELDS.CREDENTIAL.LABEL" | translate
        }}</mat-label>
        <input
          matInput
          placeholder="{{
            'AUTH.LOGIN.FIELDS.CREDENTIAL.PLACEHOLDER' | translate
          }}"
          [matAutocomplete]="auto"
          formControlName="credential"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of [] ; track $index) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        @if(form.hasFieldError("credential", "required")) {
        <mat-error>
          <span>{{ "VALIDATION.ERRORS.REQUIRED" | translate }}</span>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{
          "AUTH.LOGIN.FIELDS.PASSWORD.LABEL" | translate
        }}</mat-label>
        <input
          matInput
          autocomplete="current-password"
          placeholder="{{
            'AUTH.LOGIN.FIELDS.PASSWORD.PLACEHOLDER' | translate
          }}"
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{
            hidePassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if(form.hasFieldError("password", "required")) {
        <mat-error>
          <span>{{ "VALIDATION.ERRORS.REQUIRED" | translate }}</span>
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="flex items-center justify-between pb-2">
      <mat-checkbox class="example-margin" formControlName="rememberMe">
        {{ "AUTH.LOGIN.REMEMBER_ME" | translate }}
      </mat-checkbox>
      @if(hasForgotPassword()){
      <button mat-button type="button" routerLink="/password/recover">
        {{ "AUTH.LOGIN.FORGOT_PASSWORD" | translate }}
      </button>
      }
    </div>

    <button mat-flat-button type="submit" [disabled]="form.invalid">
      {{ "AUTH.LOGIN.CONTINUE" | translate }}
    </button>

    @if(hasRegister()) {
    <div class="register-link">
      <span
        >{{ "AUTH.LOGIN.NO_ACCOUNT" | translate }}
        <a routerLink="/register">{{
          "AUTH.LOGIN.REGISTER" | translate
        }}</a></span
      >
    </div>
    }
  </form>
</div>
